.ApiCallSummary {
  padding: 12% 18%;
}

.ApiCallSummary > .summary {
  margin-bottom: 3.6rem;
  padding-bottom: 2.4rem;

  border-bottom: 2px solid var(--color-gray-lighter);
}

.ApiCallSummary > .summary > .title {
  font-family: 'yantramanav-bold';
  font-size: 4.8rem;
}

.ApiCallSummary > .summary > .description {
  font-family: 'yantramanav-light';
  font-size: 1.8rem;
}

/* @variant summary */
.ApiCallSummary.-color-blue > .summary > .description {
  color: var(--color-blue);
}

.ApiCallSummary.-color-green > .summary > .description {
  color: var(--color-green);
}

.ApiCallSummary.-color-red > .summary > .description {
  color: var(--color-red);
}

.ApiCallSummary.-color-yellow > .summary > .description {
  color: var(--color-yellow);
}

/* @variant .RequestSummary */
.ApiCallSummary.-color-blue > .RequestSummary .method.-is-selected {
  background-color: var(--color-blue);
}

.ApiCallSummary.-color-green > .RequestSummary .method.-is-selected {
  background-color: var(--color-green);
}

.ApiCallSummary.-color-red > .RequestSummary .method.-is-selected {
  background-color: var(--color-red);
}

.ApiCallSummary.-color-yellow > .RequestSummary .method.-is-selected {
  background-color: var(--color-yellow);
}

/* @variant ResponseSummary */
.ApiCallSummary.-color-blue > .ResponseSummary .status {
  background-color: var(--color-blue);
}

.ApiCallSummary.-color-green > .ResponseSummary .status {
  background-color: var(--color-green);
}

.ApiCallSummary.-color-red > .ResponseSummary .status {
  background-color: var(--color-red);
}

.ApiCallSummary.-color-yellow > .ResponseSummary .status {
  background-color: var(--color-yellow);
}
