
.Navbar .Resource > .request-summary {
  cursor: pointer;

  font-size: 1.8rem;
}

.Navbar .Resource > .api-calls {
  padding-left: 1.2rem;
}

.Navbar .Resource > .api-calls > .api-call {
  padding: .6rem 1.2rem;

  font-family: 'yantramanav-light';
  font-size: 1.4rem;

  cursor: pointer;
}

.Navbar .Resource > .api-calls > .api-call:hover {
  background-color: rgba(0,0,0, .03);
}

/* @variant -color-blue */
.Navbar .Resource > .api-calls > .api-call.-color-blue {
  color: var(--color-blue);
}

.Navbar .Resource > .api-calls > .api-call.-color-blue.-is-selected {
  border-right: 2px solid var(--color-blue);
}

/* @variant -color-green */
.Navbar .Resource > .api-calls > .api-call.-color-green {
  color: var(--color-green);
}

.Navbar .Resource > .api-calls > .api-call.-color-green.-is-selected {
  border-right: 2px solid var(--color-green);
}

/* @variant -color-red */
.Navbar .Resource > .api-calls > .api-call.-color-red {
  color: var(--color-red);
}

.Navbar .Resource > .api-calls > .api-call.-color-red.-is-selected {
  border-right: 2px solid var(--color-red);
}

/* @variant -color-yellow */
.Navbar .Resource > .api-calls > .api-call.-color-yellow {
  color: var(--color-yellow);
}

.Navbar .Resource > .api-calls > .api-call.-color-yellow.-is-selected {
  border-right: 2px solid var(--color-yellow);
}
