.Navbar {
  padding: 4.8rem;
  padding-right: 0;

  border-right: 2px solid var(--color-gray-lighter);
}

.Navbar > .logo > .text {
  font-family: 'abel-regular';
  font-size: 3.6rem;
}

.Navbar > .search-input {
  padding-right: 1.2rem;
}

.Navbar > .search-input > .input {
  padding-right: .6rem;

  width: 100%;
  max-width: 36rem;

  border: none;
  border-bottom: 1px solid var(--color-gray-darker);

  font-family: 'yantramanav-light';
  font-size: 1.4rem;

  outline: none;
}

.Navbar > .api-calls {
  margin-top: 8.4rem;
}

.Navbar > .api-calls > .api-call > .request-summary {
  cursor: pointer;

  font-size: 1.8rem;
}

.Navbar > .api-calls > .api-call > .cases {
  padding-left: 1.2rem;
}

.Navbar > .api-calls > .api-call > .cases > .case {
  padding: .6rem 1.2rem;

  font-family: 'yantramanav-light';
  font-size: 1.4rem;

  cursor: pointer;
}

.Navbar > .api-calls > .api-call > .cases > .case:hover {
  background-color: rgba(0,0,0, .03);
}

/* @variant */
.Navbar > .api-calls > .api-call > .cases.-color-green {
  color: var(--color-green);
}

.Navbar > .api-calls > .api-call > .cases.-color-green > .case.-is-selected {
  border-right: 2px solid var(--color-green);
}

.Navbar > .api-calls > .api-call > .cases.-color-red {
  color: var(--color-red);
}

.Navbar > .api-calls > .api-call > .cases.-color-red > .case.-is-selected {
  border-right: 2px solid var(--color-red);
}
