.Navbar {
  padding: 4.8rem;
  padding-right: 0;

  border-right: 2px solid var(--color-gray-lighter);
}

.Navbar > .logo > .text {
  font-family: 'abel-regular';
  font-size: 3.6rem;
}

.Navbar > .search-input {
  padding-right: 1.2rem;
}

.Navbar > .search-input > .input {
  padding-right: .6rem;

  width: 100%;
  max-width: 36rem;

  border: none;
  border-bottom: 1px solid var(--color-gray-darker);

  font-family: 'yantramanav-light';
  font-size: 1.4rem;

  outline: none;
}

.Navbar > .resources {
  margin-top: 8.4rem;
}
